In [41]:
import requests
import pandas as pd
from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings('ignore')

In [46]:
#get table from Wikipedia
df_raw = pd.read_html("https://en.wikipedia.org/wiki/List_of_prime_ministers_of_the_United_Kingdom_by_birthplace")[1]
df = df_raw.iloc[30:]
df

,Name,Term,Birthplace,Country
30,Robert Gascoyne-Cecil,1885 to 1886 1886 to 1892 1895 to 1902,"Hatfield, Hertfordshire",England
31,Arthur Balfour,1902 to 1905,"Whittingehame, East Lothian",Scotland
32,Henry Campbell-Bannerman,1905 to 1908,"Kelvinside, Glasgow",Scotland
33,H. H. Asquith,1908 to 1916,"Morley, West Riding of Yorkshire",England
34,David Lloyd George,1916 to 1922,"Chorlton-on-Medlock, Lancashire,",England
35,Bonar Law,1922 to 1923,"Rexton, Kent County","New Brunswick colony, modern day Canada"
36,Ramsay MacDonald,1924 1929 to 1935,"Lossiemouth, Morayshire",Scotland
37,Stanley Baldwin,1924 to 1929 1935 to 1937,"Bewdley, Worcestershire",England
38,Neville Chamberlain,1937 to 1940,"Edgbaston, Birmingham",England
39,Winston Churchill,1940 to 1945 1951 to 1955,"Blenheim, Oxfordshire",England
40,Clement Attlee,1945 to 1951,"Putney, Surrey",England
41,Anthony Eden,1955 to 1957,"Windlestone Hall, County Durham",England
42,Harold Macmillan,1957 to 1963,"Belgravia, London",England
43,Alec Douglas-Home,1963 to 1964,"Mayfair, London",England
44,Harold Wilson,1964 to 1970 1974 to 1976,"Huddersfield, West Riding of Yorkshire",England
45,Edward Heath,1970 to 1974,"Broadstairs, Kent",England
46,James Callaghan,1976 to 1979,"Portsmouth, Hampshire",England
47,Margaret Thatcher,1979 to 1990,"Grantham, Lincolnshire",England
48,John Major,1990 to 1997,"St Helier, Surrey",England
49,Tony Blair,1997 to 2007,"Edinburgh, Midlothian",Scotland
50,Gordon Brown,2007 to 2010,"Giffnock, Renfrewshire",Scotland
51,David Cameron,2010 to 2016,"Marylebone, London",England
52,Theresa May,2016 to 2019,"Eastbourne, East Sussex",England
53,Boris Johnson[3],2019 to 2022,"New York City, New York",United States
54,Liz Truss,2022 to present,"Oxford, Oxfordshire",England

In [51]:
df["Birthplace"] = df["Birthplace"].str.replace("Chorlton-on-Medlock, Lancashire,", "Chorlton-on-Medlock, Manchester").str.replace(
                    "Lossiemouth, Morayshire", "Lossiemouth, Moray").str.replace("Putney, Surrey", "Putney, London").str.replace(
                    "Huddersfield, West Riding of Yorkshire", "Huddersfield, West Yorkshire").str.replace(
                    "St Helier, Surrey", "St Helier, London")
df["Country"] = df["Country"].str.replace("New Brunswick colony, modern day Canada", "Canada")
df["Location"] = df["Birthplace"] + ", " + df["Country"]


#clean names
df["Name"] = df["Name"].str.replace("H. H. Asquith", "Henry Asquith").str.replace("Boris Johnson[3]", "Boris Johnson")

In [48]:
# instantiate a new Nominatim client
app = Nominatim(user_agent="mapping_projects")

# get location raw data
geodata = {"lat": [], "lon": []}

for location in df["Location"]:
    print(location)
    loc_data = app.geocode(location).raw
    geodata["lat"].append(loc_data["lat"])
    geodata["lon"].append(loc_data["lon"])

df["lat"] = geodata["lat"]
df["lon"] = geodata["lon"]

Hatfield, Hertfordshire, England
Whittingehame, East Lothian, Scotland
Kelvinside, Glasgow, Scotland
Morley, West Riding of Yorkshire, England
Chorlton-on-Medlock, Manchester, England
Rexton, Kent County, Canada
Lossiemouth, Moray, Scotland
Bewdley, Worcestershire, England
Edgbaston, Birmingham, England
Blenheim, Oxfordshire, England
Putney, London, England
Windlestone Hall, County Durham, England
Belgravia, London, England
Mayfair, London, England
Huddersfield, West Yorkshire, England
Broadstairs, Kent, England
Portsmouth, Hampshire, England
Grantham, Lincolnshire, England
St Helier, London, England
Edinburgh, Midlothian, Scotland
Giffnock, Renfrewshire, Scotland
Marylebone, London, England
Eastbourne, East Sussex, England
New York City, New York, United States
Oxford, Oxfordshire, England

In [52]:
## names
names = pd.read_html("https://simple.wikipedia.org/wiki/List_of_prime_ministers_of_the_United_Kingdom")[0]
names

                  Name  Time in office Political party
0            Liz Truss  2022 – present    Conservative
1        Boris Johnson  2019 – 2022[1]    Conservative
2          Theresa May     2016 – 2019    Conservative
3        David Cameron     2010 – 2016    Conservative
4         Gordon Brown     2007 – 2010          Labour
..                 ...             ...             ...
73  Duke of Devonshire     1756 – 1757            Whig
74   Duke of Newcastle     1754 – 1756            Whig
75        Henry Pelham     1743 – 1754            Whig
76     Spencer Compton     1742 – 1743            Whig
77      Robert Walpole     1721 – 1742            Whig

[78 rows x 3 columns]

In [50]:
df

,Name,Term,Birthplace,Country,Location,lat,lon
30,Robert Gascoyne-Cecil,1885 to 1886 1886 to 1892 1895 to 1902,"Hatfield, Hertfordshire",England,"Hatfield, Hertfordshire, England",51.7634675,-0.2258741
31,Arthur Balfour,1902 to 1905,"Whittingehame, East Lothian",Scotland,"Whittingehame, East Lothian, Scotland",55.9538818,-2.6415654
32,Henry Campbell-Bannerman,1905 to 1908,"Kelvinside, Glasgow",Scotland,"Kelvinside, Glasgow, Scotland",55.8830888,-4.3027842
33,H. H. Asquith,1908 to 1916,"Morley, West Riding of Yorkshire",England,"Morley, West Riding of Yorkshire, England",53.7384053,-0.492155
34,David Lloyd George,1916 to 1922,"Chorlton-on-Medlock, Manchester",England,"Chorlton-on-Medlock, Manchester, England",53.4654282,-2.227277
35,Bonar Law,1922 to 1923,"Rexton, Kent County",Canada,"Rexton, Kent County, Canada",46.641481,-64.8645487
36,Ramsay MacDonald,1924 1929 to 1935,"Lossiemouth, Moray",Scotland,"Lossiemouth, Moray, Scotland",57.7220766,-3.2814625
37,Stanley Baldwin,1924 to 1929 1935 to 1937,"Bewdley, Worcestershire",England,"Bewdley, Worcestershire, England",52.3754763,-2.3162408
38,Neville Chamberlain,1937 to 1940,"Edgbaston, Birmingham",England,"Edgbaston, Birmingham, England",52.4603261,-1.9179098
39,Winston Churchill,1940 to 1945 1951 to 1955,"Blenheim, Oxfordshire",England,"Blenheim, Oxfordshire, England",51.84674295,-1.3765989216471315
40,Clement Attlee,1945 to 1951,"Putney, London",England,"Putney, London, England",51.4625524,-0.2167462
41,Anthony Eden,1955 to 1957,"Windlestone Hall, County Durham",England,"Windlestone Hall, County Durham, England",54.64792445,-1.5925002720391386
42,Harold Macmillan,1957 to 1963,"Belgravia, London",England,"Belgravia, London, England",51.4982128,-0.1534998
43,Alec Douglas-Home,1963 to 1964,"Mayfair, London",England,"Mayfair, London, England",51.5110872,-0.147058
44,Harold Wilson,1964 to 1970 1974 to 1976,"Huddersfield, West Yorkshire",England,"Huddersfield, West Yorkshire, England",53.6466645,-1.7822482
45,Edward Heath,1970 to 1974,"Broadstairs, Kent",England,"Broadstairs, Kent, England",51.3586758,1.4407855
46,James Callaghan,1976 to 1979,"Portsmouth, Hampshire",England,"Portsmouth, Hampshire, England",50.8221133,-1.0677602492961795
47,Margaret Thatcher,1979 to 1990,"Grantham, Lincolnshire",England,"Grantham, Lincolnshire, England",52.913192,-0.6438974
48,John Major,1990 to 1997,"St Helier, London",England,"St Helier, London, England",51.3866947,-0.1800574
49,Tony Blair,1997 to 2007,"Edinburgh, Midlothian",Scotland,"Edinburgh, Midlothian, Scotland",55.8598319,-3.1642668
50,Gordon Brown,2007 to 2010,"Giffnock, Renfrewshire",Scotland,"Giffnock, Renfrewshire, Scotland",55.8048318,-4.2946743
51,David Cameron,2010 to 2016,"Marylebone, London",England,"Marylebone, London, England",51.5232789,-0.155596
52,Theresa May,2016 to 2019,"Eastbourne, East Sussex",England,"Eastbourne, East Sussex, England",50.7664372,0.2781546
53,Boris Johnson[3],2019 to 2022,"New York City, New York",United States,"New York City, New York, United States",40.7127281,-74.0060152
54,Liz Truss,2022 to present,"Oxford, Oxfordshire",England,"Oxford, Oxfordshire, England",51.7520131,-1.2578499